name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Получаем код репозитория
    - name: Checkout code
      uses: actions/checkout@v3

    # Устанавливаем Python
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # Устанавливаем зависимости
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    # Запускаем тесты
    - name: Run tests
      run: |
        if [ -f tests/test_main.py ]; then pytest tests; else python main.py; fi

